.venv/
__pycache__/
*.pyc
windows/build/
windows/dist/
dist/
plugin/bin/
plugin/obj/
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab
*.exe
.idea/
*.user
*.suo

android/keystore.properties
android/*.jks
android/*.keystore
